## Data Scaping using Snscrape

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [2]:
# expanding the dislpay of tweet text
pd.set_option('display.max_colwidth', None)

## Sunway University

In [3]:
# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list based on the keywords and hashtags in certain period.
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('sunway university since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#sunwayuniversity since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#sunwayuni since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
# Creating a dataframe to load the list
sunway_tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date_Created", "Number_of_Likes", 
                                                               "Source_of_Tweet", "Tweet", "Retweeted_Tweets",
                                                              "Language", "Location"])

In [4]:
# Display the dimension of the dataframe (number of rows and columns)
sunway_tweets_df.shape

(614, 8)

In [5]:
# Export dataframe to csv
sunway_tweets_df.to_csv('sunway_tweets.csv', index=False)

In [6]:
# Show the first 5 rows of the dataframe
sunway_tweets_df.head()

,User,Date_Created,Number_of_Likes,Source_of_Tweet,Tweet,Retweeted_Tweets,Language,Location
0,jkmkhoo,2022-09-29 13:30:47+00:00,2,Twitter Web App,@Karl_A_Miller This restaurant at near Sunway University might suit a British palette well üòâ https://t.co/nfirVM3Uzl,None,en,"Nottingham, England"
1,eurospan,2022-09-29 09:46:32+00:00,0,Twitter Web App,Exciting news: Sunway University Press have launched a brand-new short story competition inspired by the UN Sustainable Development Goals. You can find out more on the Eurospan blog now: https://t.co/KIq59fXXHo https://t.co/8gNfzgKKwS,None,en,"London, UK"
2,SunwayCPH,2022-09-29 08:30:05+00:00,4,Twitter for iPhone,"Check this out! \n\nOur Chief Planetary Health Scientist, Dr. @RenzoGuinto is in the latest episode of the Katipunan Dialogue Podcast üó£Ô∏è\n\n#PlanetaryHealth #SunwayCPH #SunwayUniversity #UPCIDS #Podcast https://t.co/MiwyfSHPO8",None,en,Malaysia
3,keenguyencaphe,2022-09-29 04:13:02+00:00,5,Twitter for Android,Thus that was an amazing weekend as Kee Nguy·ªÖn went on the loose to bring Vietnam's Finest Coffee into Sunway University. Big Kudos to keenguyensunway for all the amazing hardwork and we hope that one sip brings you all to Vietnam or back to Vietnam already üòâ\n\nGot events? DM https://t.co/nmduRwHv8m,None,en,Malaysia
4,Mia7Jane,2022-09-28 11:16:17+00:00,1,Twitter for Android,"@elee618 He asked :""Dr Jane from Sunway University?"", but not Dr Jane from Malaysia... üòÜ #mosthappeningcampus",None,en,Klang

## Taylor's University

In [7]:
# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('taylor\'s university since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])

    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#taylorsuniversity since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#taylorsuni since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
# Creating a dataframe to load the list
taylor_tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date_Created", "Number_of_Likes", 
                                                               "Source_of_Tweet", "Tweet", "Retweeted_Tweets",
                                                              "Language", "Location"])

In [8]:
# Display the dimension of the dataframe (number of rows and columns)
taylor_tweets_df.shape

(782, 8)

In [9]:
# Export dataframe to csv
taylor_tweets_df.to_csv('taylor_tweets.csv', index=False)

In [10]:
# Show the first 5 rows of the dataframe
taylor_tweets_df.head()

,User,Date_Created,Number_of_Likes,Source_of_Tweet,Tweet,Retweeted_Tweets,Language,Location
0,zulyusmardotcom,2022-09-30 16:54:38+00:00,0,IFTTT,"Taylor‚Äôs University confers award to Sister Enda Ryan for her contribution in laying the foundation for women‚Äôs education in the nation\n\nIn recognition of her dedication and significant contributions to the community in education and welfare assistance, ‚Ä¶ https://t.co/avccg0OU9w https://t.co/7vkJL7eBzm",None,en,"Kuala Lumpur, Malaysia"
1,saraspeaks_now_,2022-09-30 04:03:17+00:00,5,Twitter for Android,University is not good for me... first one to like Taylor's tiktok... I'm just gonna leave this here https://t.co/NYALY9cS1U,None,en,
2,COOXasia,2022-09-30 03:00:02+00:00,1,Twitter Web App,"DIM SUM FOR EVERYONE! Order from Pak Din for halal and delicious Dimsum. ü•üü•ü\nCheck out their menu on COOX Application today and place your order! \n\nAvailable at COOX, Taylor's University Lakeside Campus.\n\n#cooxasia #cooxkitchens #pakdindimsum #cloudkitchen #cloudkitchenmalaysia https://t.co/z0JUkpnegq",None,en,"Glo Damansara, Kuala Lumpur"
3,cookiessaaji,2022-09-28 15:44:13+00:00,2,Twitter for Android,it was a pleasure to meet the debaters of taylor's university and MUDA's committees and EXCOs! https://t.co/c222nMkoDd,None,en,
4,SkeshMM,2022-09-27 15:47:12+00:00,0,Instagram,Just posted a photo @ Taylor's University https://t.co/enqEbj4AXt,None,en,Asia

## UCSI University

In [11]:
# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('ucsi university since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('UCSI University since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#ucsiuniversity since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#ucsiuni since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
# Creating a dataframe to load the list
ucsi_tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date_Created", "Number_of_Likes", 
                                                             "Source_of_Tweet", "Tweet", "Retweeted_Tweets",
                                                             "Language", "Location"])

In [12]:
# Display the dimension of the dataframe (number of rows and columns)
ucsi_tweets_df.shape

(1337, 8)

In [13]:
# Export dataframe to csv
ucsi_tweets_df.to_csv('ucsi_tweets.csv', index=False)

In [14]:
# Show the first 5 rows of the dataframe
ucsi_tweets_df.head()

,User,Date_Created,Number_of_Likes,Source_of_Tweet,Tweet,Retweeted_Tweets,Language,Location
0,ACS_Omega,2022-09-29 14:30:05+00:00,8,Brandwatch,"‚ñ∂Ô∏è Influence of Highly Stable Ni2+ Species in Ni Phyllosilicate #Catalysts on Selective #Hydrogenation of Furfural to Furfuryl Alcohol\n\nüë• Christopher W. Jones, Joongjai Panpranot &amp; coworkers\n\nhttps://t.co/nIUnncQFqt\n\n@Chris_Jones_GT @GTChBE @ChulalongkornU @ucsiuniversity https://t.co/zsf9qaQ0v8",None,en,
1,MwakibeteMula,2022-09-29 09:03:23+00:00,1,Twitter for Android,@MirandaNaiman Been there for more than two years. UCSI UNIVERSITY,None,en,"Dar es Salaam, Tanzania"
2,Uni_of_Essex,2022-09-28 15:00:12+00:00,5,Oktopost,"An amazing day celebrating partnerships in #Malaysia with¬†@uitmofficial, @ucsiuniversity and @BACCollege.¬†¬†\n¬†\nWe‚Äôre so proud of our growing partnerships and looking to build on our research and education links. https://t.co/Tb31NIdVNA",None,en,Essex
3,PTIKPOfficial,2022-09-28 07:38:50+00:00,20,Twitter for Android,"Following the #WorldTourismDay 2022 theme ‚ÄòRethinking Tourism‚Äô, an MoU on the #Digital Reconstruction of sites in Khyber Pakhtunkhwa, was signed between @KPDOAMOfficial and @ucsiuniversity. 1/2\n\n#KPKUpdates #KPArchaeology https://t.co/KDFmH55BKR",None,en,
4,KPDOAMOfficial,2022-09-28 06:53:56+00:00,11,Twitter for Android,"Following the #WorldTourismDay 2022 theme ‚ÄòRethinking Tourism‚Äô, an MoU on the #Digital Reconstruction of sites in Khyber Pakhtunkhwa, was signed between @KPDOAMOfficial and @ucsiuniversity. 1/3\n\n#KPArchaeology @BBCEarth @NatGeo @WorldArchaeo @NatGeoMag https://t.co/izOiVyiTDM",None,en,"Peshawar, Pakistan"

## University of Malaya (UM)

In [15]:
# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('university of malaya since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('universiti malaya since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#universityofmalaya since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#universitimalaya since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
# Creating a dataframe to load the list
um_tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date_Created", "Number_of_Likes", 
                                                           "Source_of_Tweet", "Tweet", "Retweeted_Tweets",
                                                           "Language", "Location"])

In [16]:
# Display the dimension of the dataframe (number of rows and columns)
um_tweets_df.shape

(1428, 8)

In [17]:
# Export dataframe to csv
um_tweets_df.to_csv('um_tweets.csv', index=False)

In [18]:
# Show the first 5 rows of the dataframe
um_tweets_df.head()

,User,Date_Created,Number_of_Likes,Source_of_Tweet,Tweet,Retweeted_Tweets,Language,Location
0,Rezafah26173719,2022-09-30 17:53:45+00:00,0,Twitter Web App,The most favorites place to take picture in University of Malaya. https://t.co/lZpLdAz9Ok,None,en,Padang
1,bazaarbaku,2022-09-30 14:49:34+00:00,0,dlvr.it,Malaysia highly appreciates Azerbaijan's efforts to restore peace in S.Caucasus - University of Malaya professor https://t.co/7oUhNzFZ25,None,en,"Baku, Azerbaijan"
2,malforwb,2022-09-30 04:01:39+00:00,1,malforscheduler,"[30/9/62] The University of Malaya is recruiting eight experts to staff its School of Education, which is to begin operation next May.",None,en,Malaya
3,lawreviewUM,2022-09-30 03:23:16+00:00,43,Twitter Web App,"[Person of the Month]\n¬†\nBidding farewell to the semester break and venturing into a new academic year, the University of Malaya Law Review is delighted to introduce Mr Akhmal Amaluddin as our September Person of the Month! [1] \n\nhttps://t.co/T5NVkKvAhM https://t.co/557WAhhElc",None,en,"Faculty of Law, UM"
4,FominLabs,2022-09-30 01:48:11+00:00,0,Reddit Official,"I just posted ""UNIVERSITY OF MALAYA TUITION FEES 2023"" on Reddit\n\nhttps://t.co/XbMBCEdVRP",None,en,

## University of Putra Malaysia (UPM)

In [19]:
# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Universiti Putra Malaysia since:2021-01-01 until:2022-10-01').\
                         get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('University of Putra Malaysia since:2021-01-01 until:2022-10-01').\
                         get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#universityofputramalaysia since:2021-01-01 until:2022-10-01').\
                         get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#universitiputramalaysia since:2021-01-01 until:2022-10-01').\
                         get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
# Creating a dataframe to load the list
upm_tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date_Created", "Number_of_Likes", 
                                                            "Source_of_Tweet", "Tweet", "Retweeted_Tweets",
                                                            "Language", "Location"])

In [20]:
# Display the dimension of the dataframe (number of rows and columns)
upm_tweets_df.shape

(656, 8)

In [21]:
# Export dataframe to csv
upm_tweets_df.to_csv('upm_tweets.csv', index=False)

In [22]:
# Show the first 5 rows of the dataframe
upm_tweets_df.head()

,User,Date_Created,Number_of_Likes,Source_of_Tweet,Tweet,Retweeted_Tweets,Language,Location
0,BuletinTV3,2022-09-30 10:04:45+00:00,1,Twitter Web App,Tiga pensyarah Universiti Putra Malaysia(UPM) menerima penganugerahan dan pengiktirafan sebagai Top Research Scientists Malaysia (TRSM) 2022 oleh Akademi Sains Malaysia (ASM).\n\nhttps://t.co/ZJXJenhTNS,None,in,"Sri Pentas, Bandar Utama"
1,MPPUPMofficial,2022-09-30 08:05:26+00:00,0,Twitter for iPhone,"#162 ( 30 SEPTEMBER 2022 | 04:00 PM )\n[ MAKLUMAN MPP UPM SESI 2021/2022 ]\n\n[ TELEGRAM RASMI MAJLIS PERWAKILAN PELAJAR UNIVERSITI PUTRA MALAYSIA SESI 2021/2022 ]\n\nAssalamualaikum w.b.t,\nSalam Sejahtera,\nSalam We Love UPM.\n\nPautan Telegram Rasmi MPP UPM :\nhttps://t.co/s4dKQ25QFm https://t.co/gUbSgUcAzl",None,in,"Selangor, Malaysia"
2,sbesaupm,2022-09-30 06:55:06+00:00,0,Twitter for iPhone,"Ketua Ekonomi Buruh\nKementerian Sumber Manusia &amp; Emiratisasi\nDubai, Emiriah Arab Bersatu (UAE)\n\nSemoga terus cemerlang dan membawa nama UPM ke persada global\n\nDaripada,\nPersatuan Pelajar Sekolah Perniagaan dan Ekonomi\n(SBESA)\nUniversiti Putra Malaysia\n2022/2023",None,in,UPM
3,SuHuajuan,2022-09-29 11:18:02+00:00,0,Twitter for iPhone,Accommodation | Universiti Putra Malaysia https://t.co/q92qsTkwGp,None,fr,
4,sbesaupm,2022-09-29 11:07:15+00:00,0,Twitter for iPhone,School of Business And Economics\nStudent Association\nUniversiti Putra Malaysia\n2022/2023\n\n#sbesaupm\n#speupm\n#berilmuberbakti\n#weloveupm\n#sbesaupm2223,None,en,UPM

## National University of Malaysia (UKM)

In [23]:
# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('National University of Malaysia since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Universiti Kebangsaan Malaysia since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#NationalUniversityofMalaysia since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('#UniversitiKebangsaanMalaysia since:2021-01-01 until:2022-10-01').get_items()):
    if i>499:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content, 
                                 tweet.retweetedTweet, tweet.lang, tweet.user.location])
    
# Creating a dataframe to load the list
ukm_tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date_Created", "Number_of_Likes", 
                                                            "Source_of_Tweet", "Tweet", "Retweeted_Tweets",
                                                            "Language", "Location"])

In [24]:
# Display the dimension of the dataframe (number of rows and columns)
ukm_tweets_df.shape

(750, 8)

In [25]:
# Export dataframe to csv
ukm_tweets_df.to_csv('ukm_tweets.csv', index=False)

In [26]:
# Show the first 5 rows of the dataframe
ukm_tweets_df.head()

,User,Date_Created,Number_of_Likes,Source_of_Tweet,Tweet,Retweeted_Tweets,Language,Location
0,MalaysiaMFA,2022-09-29 08:16:24+00:00,6,Twitter for Android,"2/ The special lecture was delivered by Distinguished Professor Datuk Dr. Shamsul Amri Baharuddin, Founding Director of National Institute of Ethnic Studies (KITA), National University of Malaysia @ukm_my",None,en,Putrajaya
1,MalaysiaMFA,2022-09-29 06:49:33+00:00,3,Twitter for Android,"2/... together with Prof. Datuk Dr. Anis Yusal Yusoff, Principal Fellow of National University of Malaysia @ukm_my.",None,en,Putrajaya
2,GlobalOfficeStA,2022-09-22 11:48:37+00:00,9,Twitter Web App,The @univofstandrews recently welcomed a delegation visit from the National University of Malaysia @ukm_my for the signing of a Memorandum of Understanding between the two institutions and to discuss future partnership development. #GlobalStAndrewsüåè https://t.co/pVAy8Was0S,None,en,"St Andrews, Scotland"
3,AAsiemo,2022-09-13 23:46:17+00:00,0,Blog2Social APP,"""I think the Commonwealth is still relevant,"" says Prof Sufian Jusoh from the National University of Malaysia, who advises the government on trade, ""for the cultural and educational links, and of course the legal system - we inherited the common law #\n\nhttps://t.co/XE4i0bRJp9",None,en,Nigeria
4,isearch247,2022-09-13 23:29:06+00:00,0,isearch247,"Queen Elizabeth II: What her death means to Malaysia - https://t.co/cWIiSvODGd{ \n""I think the Commonwealth is still relevant,"" says Prof Sufian Jusoh from the National University of Malaysia, who advises the government on trade, ""for the cultural and educational links, and of ...",None,en,

In [27]:
# print the number of rows in total of all dataframes
print(sunway_tweets_df.shape[0] + taylor_tweets_df.shape[0] + ucsi_tweets_df.shape[0]
     + um_tweets_df.shape[0] + upm_tweets_df.shape[0] + ukm_tweets_df.shape[0], 'rows')

5567 rows